// font

$font-family: 'Plus Jakarta Sans', sans-serif;
/*color variables */

$white:#fff;
$black:#000;

$blue:#00B0F0;
$blur_black:#2E3538;
$gray:#B9C1C6;
$light-gray:#E5E5E5;
$gray-black:#606576;
$blur_white:#E0E0E0;
$light-white:#9DA0AF;
$light-black:#404040;
$perpal:#AD65C0;
$red:#CD5154;
$blur-gray: #B3B3B3;
$opacity_black:rgba(0, 0, 0,0.6);
$blur_gray: #E6E6E6;
$border_color:#D3D3C5;
$green:#56B846;
$blue_gray: #8F93A3;
$bg_gray:#C4C4C4;